* {
    margin: 0;
    font-family: Georgia, serif;
}

.navbar {
    background-color: #003f3f;
    height: 5rem;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow:0;
    flex-shrink: 0;
    flex-flow: auto;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    background-image: url("shivalikk-removebg-preview.png");
    background-size: cover;
    height: 70px;
    width: 70px;
}

.name  {
    color: white;
    font-family: Arial, sans-serif;;

}

.nameone {
    color: white;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: #d4af37;
    font-weight: bold;
}

